.section {
  background: #F7F3FF;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.content {
  margin-left: 5%;
  margin-top: 2%;
  width: 30%;
  margin-top: 5%;
}

.slideshow {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 20%;
  margin-top: 4%;
  margin-bottom: 2%;
  width: 40%;
  border: none;
}

.slideshow img {
  width: 50%;
  height: 30%;
  display: block;
}

.fourCards {
  display: flex;
  padding: 10px;
}

.fourCards img {
  padding: 10px;
  width: 70px;
  height: 50px;
}

.mobileContent {
  display: none;
}

@media (max-width: 768px) {
  .section {
    display: block;
  }

  .slideshow {
    width: 100%;
    margin-left: 0;
  }

  .slick-initialized {
    margin-left: 20%;
  }

  .slideshow img {
    margin-top: 10%;
  }

  .content {
    display: none;
  }

  .mobileContent {
    display: block;
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .mobileContentbutton {
    color: black;
  }

  .extrasection {
    background: #7C7EB5;
    margin-left: 0;
    margin-right: 20px;
    color: white;
    padding: 20px;
    margin-top: 14px;

    .mobileContentbutton {
      color: white;
    }
  }
}